@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15vh 10vh 60vh 15vh;
  gap: 10px;
  padding: 10px;
}

header {
  grid-column: 1 / 4;
  background-color: #a60573;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
}

nav {
  grid-column: 1 / 4;
  background-color: #596ac3;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 5px;
}

main {
  grid-column: 1 / 4;
  background-color: #97bc27;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 40px;
  color: white;
  border-radius: 5px;
  gap: 20px;
}

footer {
  grid-column: 1 / 4;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
}

a:link {
  color: #00FF00;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #00FF00;
}

a:active {
  color: #FFFF00;
}

main img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  justify-self: center;
}

main p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 15px;
}