*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #ffffff;
  color:white;
  font-size: 22px;;
}

#container{
  display:grid;
  border: 1px solid rgb(255, 0, 0);
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: calc(33.33vh - 10px) calc(33.33vh - 10px) calc(33.33vh - 10px);
  grid-column-gap:10px;
  grid-row-gap: 10px;
}

#container .celda1{
  padding: 9px;
  background-color:#a60573;
  border-radius: 5px;
}

#container .celda2{
  padding: 9px;
  background-color:#596ac3;
  border-radius: 5px;
}

#container .celda3{
  padding: 9px;
  background-color:#97bc27;
  border-radius: 5px;
}

#container .celda4{
  padding: 9px;
  background-color:#ff9800;
  border-radius: 5px;
}